html, body, #app{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.el-breadcrumb{
    margin: 15px 0 10px 15px;
    font-size: 10px;
}

.board{
    margin-top: 0px;
    border-bottom: gray solid 0;
    background-color: white;
    padding: 5px 5px;
}

.el-table{
    margin-top: 15px;
    font-size: 40px;
}

.el-pagination {
    margin-top: 15px;
}